@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
    --color-background: #101010;
    --color-text: white;
    --font-family-base: "Atkinson Hyperlegible", sans-serif;
}

@layer base {
    body {
        @apply bg-[#101010] text-white;
        font-family: "Atkinson Hyperlegible", sans-serif;
    }

    ::selection {
        @apply bg-[#fff] text-[#101010];
    }

    @layer utilities {
        .animate-fade-in {
            animation: fade-in 0.8s ease-in-out both;
        }

        .animate-blink {
            animation: blink 1s steps(2, start) infinite;
        }

        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @keyframes blink {
            0%,
            49.999% {
                opacity: 1;
            }
            50%,
            100% {
                opacity: 0;
            }
        }

        .animate-rotate-acw {
            animation: rotate-acw 36s linear infinite;
            transform-origin: center center;
            will-change: transform;
        }

        @keyframes rotate-acw {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(-360deg);
            }
        }
    }
}
